.mam_modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: 100vh;
	background: #00000050;
	font-family: var(--font);
	overflow: auto;
	z-index: 500;
	opacity: 0;
	pointer-events: none;
	transition: .5s;
}

.mam_modal.mam_open {
	opacity: 1;
	pointer-events: auto;
}

.mam_modal .mam_box {
	position: relative;
	top: 50%;
	transform: translateY(-50%) scale(.9);
	transform-origin: 90% 100%;
	margin: auto;
	background: white;
	box-shadow: var(--box-shadow);
	width: 80%;
	max-width: 800px;
	border-radius: 25px;
	padding: 25px;
	box-sizing: border-box;
	transition: .5s;
}

.mam_modal.mam_open .mam_box {
	transform: translateY(-50%) scale(1);
}

.mam_modal .mam_box .mam_title {
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.mam_modal .mam_box > span {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	box-sizing: border-box;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	align-content: center;
	font-size: 1.3rem;
	cursor: pointer;
	transition: .3s;
}

.mam_modal .mam_box > span:active {
	background: var(--gray-2-color);
	transition: 0;
}

.mam_modal .mam_box .mam_body {
	display: flex;
	gap: 15px;
}

.mam_modal .mam_box .mam_body .mam_left,
.mam_modal .mam_box .mam_body .mam_right {
	flex: 1;
}

.mam_modal .mam_box .mam_body .mam_left {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-items: center;
}

.mam_modal .mam_box .mam_body .mam_left .mam_picture {
	position: relative;
	width: 90%;
	padding-top: 90%;
	border: 1px solid var(--gray-color);
	border-radius: 15px;
	overflow: hidden;
}

.mam_modal .mam_box .mam_body .mam_left .mam_picture img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mam_modal .mam_box .mam_body .mam_left input[type='file'] {
	display: none;
}

.mam_btnUpload {
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid var(--blue-2-color);
	font-size: .8rem;
	color: var(--blue-2-color);
	cursor: pointer;
	transform: scale(1);
	transition: .15s;
}

.mam_btnUpload:active {
	transform: scale(.9);
}

.mam_modal .mam_box .mam_body .mam_left span {
	margin-top: 15px;
	font-weight: bold;
}

.mam_modal .mam_box .mam_body .mam_left .mam_isReady {
	position: relative;
	padding: 3px;
	box-sizing: border-box;
	background: #e3d3d3;
	box-shadow: inset -1px 3px 5px 5px #f500002a;
	border-radius: 50px;
	padding: 5px;
	box-sizing: border-box;
	width: 65px;
	height: 30px;
	cursor: pointer;
	user-select: none;
	transition: .5s ease;
}

.mam_modal .mam_box .mam_body .mam_left .mam_isReady::after {
	position: absolute;
	top: 2px;
	left: 2px;
	content: '';
	height: 26px;
	width: 26px;
	border-radius: 100%;
	background: linear-gradient(40deg, #efefef, #ffffff);
	box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .2);
	transition: .5s ease;
}

.mam_modal .mam_box .mam_body .mam_left input {
	height: 0;
	width: 0;
	visibility: hidden;
	display: none;
}

.mam_modal .mam_box .mam_body .mam_left input:checked + .mam_isReady {
	background: #c9f3dc;
	box-shadow: inset -1px 3px 5px 5px #00f58f85;
}

.mam_modal .mam_box .mam_body .mam_left input:checked + .mam_isReady::after {
	background: linear-gradient(40deg, #efefef, #ffffff);
	transform: translateX(calc(65px - (4px + 26px)));
}

.mam_modal .mam_box .mam_body .mam_right {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup {
	width: 90%;
	align-self: center;
	display: flex;
	flex-direction: column;
}

.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup > label {
	font-size: .83rem;
	color: var(--gray-color);
}

.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup input {
	height: 30px;
	background: transparent;
	border: none;
	border-bottom: 1px solid var(--gray-color);
	padding: 0 5px;
	font-family: var(--font);
	font-size: .9rem;
	transition: .5s ease;
}

.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup input::placeholder,
.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup textarea::placeholder {
	font-family: var(--font);
	font-size: .85rem;
	color: #cfcfcf;
	font-style: italic;
}

.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup textarea {
	background: transparent;
	padding: 5px;
	resize: none;
	border: none;
	border-bottom: 1px solid var(--gray-color);
	padding: 0 5px;
	font-family: var(--font);
	font-size: .9rem;
	line-height: 1rem;
	transition: .5s ease;
}

.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup input:focus-visible,
.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup input:focus,
.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup textarea:focus-visible,
.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup textarea:focus,
.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup select:focus-visible,
.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup select:focus {
	outline: none;
	border-bottom: 1px solid #0066ff;
}

.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup select {
	height: 30px;
	padding: 0 5px;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid var(--gray-color);
	font-family: var(--font);
	font-size: .9rem;
	cursor: pointer;
}

.mam_modal .mam_box .mam_footer {
	margin-top: 25px;
	height: 37px;
	display: flex;
	gap: 5px;
	justify-content: flex-end;
}

.mam_modal .mam_box .mam_footer button {
	width: 150px;
	border-radius: 10px;
	font-size: .75rem;
}

.mam_modal .mam_box .mam_footer .mum_btnDelete {
	background: var(--danger-color);
	color: white;
}

@media (max-width: 500px) {
	.mam_modal .mam_box {
		width: 95%;
		top: 0;
		transform: scale(.9);
		margin-top: 25px;
		margin-bottom: 70px;
	}

	.mam_modal.mam_open .mam_box {
		transform: scale(1);
	}

	.mam_modal .mam_box .mam_body {
		flex-direction: column;
		gap: 25px;
	}

	.mam_modal .mam_box .mam_body .mam_picture {
		width: 55%;
		padding-top: 55%;
	}

	.mam_modal .mam_box .mam_body .mam_left span {
		font-size: 1.1rem;
	}

	.mam_modal .mam_box .mam_body .mam_left .mam_isReady {
		transform: scale(1);
	}

	.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup > label {
		font-size: .87rem;
	}

	.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup input {
		height: 35px;
		font-size: 1rem;
	}

	.mam_modal .mam_box .mam_body .mam_right .mam_inputGroup textarea {
		font-size: 1rem;
	}

	.mam_modal .mam_box .mam_footer {
		justify-content: center;
		height: 45px;
	}

	.mam_modal .mam_box .mam_footer button {
		width: 50%;
	}
}